websocket-client==1.3.2
flask==2.0.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy
psycopg2==2.9.3
psycopg2-binary==2.9.3
pandas==1.4.2
numpy==1.22.3
python-dotenv==0.20.0
Databases==0.5.5
gevent==21.12.0
databases[postgresql]
